body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 1rem;
}

* {
  box-sizing: border-box;
  }

html {
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;   
  max-width: 1240px;
}

/*Colors************************/
  $primary: #D04F4F;
  $blue: #3282F7;
  $green: #68D9A4;
  $red: #ED6454;
  $grey: #C7BEBE;
  $light-grey: #E7E7E7;
  $black: #000000;
  $white: #FFFFFF;


/*Fonts************************/
  /*$f96: 6rem;*/
  $f64: 4rem;
  /*$f48: 3rem;*/
  /*$f40: 2.5rem;*/
  $f36: 2.25rem;
  $f24: 1.5rem;
  $f20: 1.25rem;
  $f18: 1.125rem;
  $f16: 1rem;
  $f14: .875rem;
  $f12: 0.75rem;
  $f13: 0.82rem;
  $f10: 0.625rem;
  $f9:  0.563rem;