header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  padding-top: 42px;

  img {
    width: 52px;
  }

  h1 {
    a{
      color: $red;
      text-decoration: none;
      font-size: $f36;
    }
  }
}