.combo-lists {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 100;
  @media screen and(max-width: 768px) {
    flex-direction: column;
    align-items: center;
    left: 1rem;
    right: 1rem;
    margin-top: 0;
  }

  .combo-box {
    width: max-content;
    border-radius: 5px;
    position: relative;
    margin-bottom: 1rem;
    margin-right: 20px;
    @media screen and(max-width: 768px) {
      width: 100%;
    }

    &.combo-blue {

      button,
      input {
        background: $blue;
      }
      &.show {
        background: $blue;
      }
    }
    &.combo-green {
      button,
      input {
        background: $green;
      }
      &.show {
        background: $green;
      }
    }
    &.combo-red {

      button,
      input {
        background: $red;
      }
      &.show {
        background: $red;
      }
    }

    
    button {
      border: none;
      border-radius: 5px;
      color: $white;
      padding: 23px 64px 24px 15px;
      font-size: $f18;
      font-weight: bold;
      position: relative;
      cursor: pointer;
      @media screen and(max-width: 1200px) {
        
        width: 100%;
      }

      &.list-button::after{
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        right: 15px;
        width: 16px;
        height: 11px;
        background: url('/assets/img/downArrow.png');
      }
      &[aria-expanded="true"]:after {
        display:none;
      }
    }

    .list-wrapper {
      position: relative;
      top: -30px;

      ul {
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 2rem;
        list-style: none;
        padding: 1rem 1.2rem;
        margin: 1rem 0 0;

        @media screen and(max-width: 1200px) {
          grid-template-columns: repeat(2, 200px);
        }
        @media screen and(max-width: 990px) {
          grid-template-columns: repeat(1, 250px);
        }
        @media screen and(max-width: 768px) {
          grid-template-columns: repeat(3, 30%);
        }
        @media screen and(max-width: 598px) {
          grid-template-columns: repeat(2, 50%);
        }
        @media screen and(max-width: 478px) {
          grid-template-columns: repeat(1, 100%);
        }
  
        li {
          margin: 5px 0;
          font-size: $f18;
          color: $white;
          cursor: pointer;
          @media screen and(max-width: 1200px) {
            font-size: $f16;
          }
  
          &::first-letter{
            text-transform: uppercase;
          }

          &.hidden-li {
            display: none;
          }
        }
      }
      input {
        border: none;
        color: $white;
        font-size: $f18;
        position: absolute;
        top: -3rem;
        left: 15px;
        padding: 1rem 1rem 1rem 8px;
        width: 80%;

        @media screen and(max-width: 1200px) {
          font-size: $f16;
          padding-right: 0;
        }
  
        &::placeholder {
          color: $white;
          opacity: .5
        }
        &:focus {
          outline-color: $white;
        }
      }

      .close {
        border: none;
        background: none;
        position: absolute;
        top: -30px;
        right: -15px;
        width: 48px;
        height: 48px;
        background: url('/assets/img/upArrow.png') no-repeat;
        padding: 0 14px;
      }
      
    }
    .hidden {
      display: none;
    }
  }
}
